/* Project */
.form-container {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
}

.form-container.inactive {
    display: none;
}

.project-form {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 175px);

    height: 200px;
    width: 350px;
    outline: auto;

    background-color: white;
    justify-items: center;
    align-items: center;

    font-size: 0.7em;
    outline: none;
}

.submit-btn {
    grid-column: 1/3;
    height: 40%;
    width: 30%;
}

.text-input {
    margin-right: 15px;
    outline: auto;
}

/* Todo */
.todo-form-container {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
}

.todo-form-container.inactive {
    display: none;
}

.todo-form {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 175px);

    height: 200px;
    width: 350px;
    outline: auto;

    background-color: white;
    justify-items: center;
    align-items: center;

    font-size: 0.7em;
    outline: none;
}

.submit-btn-todo {
    grid-column: 1/3;
    height: 40%;
    width: 30%;
}

.text-input-todo {
    margin-right: 15px;
    outline: auto;
}